.center {
  text-align: center;
}

.taskHeader {
  text-align: left;
  font-size: large;
  font-weight: bold;
  font-family: Helvetica;
  padding: 5px;
}

.taskTable {
  border: "1px solid black";
  width: 100%;
  border-collapse: collapse;
}

.taskTableCell {
  border: 1px solid;
  width: 100%;
}

.taskTableHeaderCell {
  border: 1px solid;
  font-size: large;
  background-color: lightgreen;
  width: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#verifyButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }